.App {
  margin: 15px;
}

.card {
  height: 50px;
  margin: 5px 5px 20px 5px;
  border: 5px solid black;
  border-radius: 7px;
  box-shadow: 5px 10px #888888;
  padding: 10px;
}

.card .title {
  color: #888888;
  font-size: 15px;
}

.card .name {
  color: #888888;
  font-size: 15px;
}